@use '../abstracts/variables';

body {
  font-family: Movatif-Book;
  color: variables.$color-text-dark;
}

.text-orange {
  color: variables.$color-orange;
}

.text-dark {
  color: variables.$color-text-dark !important;
}