.hero {
    .main-title {
       font-size: calc(2rem + 4vw);
    }

    .heading-2 {
        font-size: calc(1.75rem + 3vw);
    }

    ul {
        li {
            h2 {
                font-size: calc(1.325rem + 2.25vw);
                line-height: 1;
            }
            h2 {
                font-size: calc(1.325rem + 1.5vw);
            }
        }
    }
}

.target-specifics {
    p {
        font-size: calc(1rem + 1.25vw);
    }

    h2 {
        font-size: calc(1.5rem + 3vw);
    }
}

.targeting {
    .heading {
        font-size: calc(1.5rem + 3vw);
    }
    .description {
        font-size: calc(1rem + 1vw);
    }

    .time {
        img {
            max-width: 30%;
        }
    }
}

.graph {
    .graph-heading {
        font-size: calc(1.25rem + 1.25vw);
    }

    p {
        font-size: calc(1rem + .5vw);
    }
}

.biggest-challenge {
    h2 {
        font-size: calc(1.25rem + 1.25vw);
    }

    p {
        font-size: calc(1rem + .5vw);
    }
}